<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novac Email Builder</title>
    <link rel="icon" href="https://www.novactech.in/favicon.ico">
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css"> -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'> -->
    <link href="/css/editor.css" rel="stylesheet">
    <link href="/css/line-awesome.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7ea881dee5.js" crossorigin="anonymous"></script>
</head>

<body>   
    <!-- <center>
        <img src="https://www.novactech.in/assets/img/Novac_logo.png" alt="">
    </center> -->
    
    <div id="vvveb-builder">
        <%- body %>
        <!-- <a href="/addTemplate">go to Builder</a> -->
    </div>
  

</body>
</html>